.start {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  background: #03030f;

  .top {
    width: fit-content;
    margin: 0 auto;
    position: relative;

    &-img {
      width: 100vw;
    }

    &-bubble {
      height: 72px;
      width: 150px;
      background-color: #ffeed4;
      color: #140200;
      position: absolute;
      border-radius: 10%;
      right: 0;
      top: 16px;
      left: -18px;
      transform: translate(-100%, -100%);
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: BebasNeue;

      .right-point {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 50px solid #ffeed4;
        position: absolute;
        top: 45%;
        right: -10%;
        transform: rotate(-60deg);
      }
    }
  }

  .info {
    color: #747679;
    margin-bottom: 30vw;
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 5vw;

    button {
      height: 50px;
      font-weight: 600;
      font-size: 20px;
      &:focus {
        outline: none;
      }
    }
  }
}
