.start {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100dvh;
  background: #03030f;

  .boss {
    width: fit-content;
    margin: 0 auto;
    position: relative;
    margin-top: 20vh;
    height: 85%;

    &-img {
      width: 100vw;
    }

    &-bubble {
      height: 72px;
      width: 150px;
      background-color: #ffeed4;
      color: #140200;
      position: absolute;
      border-radius: 10%;
      right: 0;
      top: 16px;
      left: -18px;
      transform: translate(-100%, -100%);
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: BebasNeue;

      .right-point {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 50px solid #ffeed4;
        position: absolute;
        top: 45%;
        right: -10%;
        transform: rotate(-60deg);
      }
    }
  }

  .bottom {
    padding-bottom: 10vw;
    display: flex;
    justify-content: center;
    align-items: start;

    .connect-button {
      &:focus {
        outline: none;
      }
    }

    .connect-button {
      background-color: #e8820a;
      color: #ffffff;
      box-shadow: 0 4px 24px rgba(0, 0, 0, 0.16);
      padding: 12px 24px 12px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      height: 52px;
      border: none;
      border-radius: 100vh;
      cursor: pointer;
      font-size: 14px;
      font-weight: 590;
      line-height: 18px;
      transition: transform 0.125s ease-in-out;
      width: 80%;

      &:hover {
        transform: scale(1.02);
      }

      img {
        width: 28px;
        height: 28px;
      }

      & > div {
        font-weight: 590;
        font-size: 19px;
        line-height: 22px;
        color: #ffffff;
      }
    }
  }
}
