.game {
    height: 100dvh;
    background: url('src/assets/images/bg-1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .players-list {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        height: 40dvh;
        .item {
            width: 22vw;

            &:deep(.player-img) {
                width: 22vw;
            }

            &.reverted {
                transform: scaleX(-1) !important;

                &:deep(.wallet) {
                    transform: scaleX(-1) !important;
                }
            }

            &.player-1 {
                left: 1vw;
                bottom: 0;
                top: unset;
                transform: none;
            }
            &.player-2 {
                left: 24vw;
                top: 15%;
                transform: none;
            }
            &.player-3 {
                right: 24vw;
                left: unset;
                top: 15%;
                transform: none;
            }

            &.player-4 {
                right: 1vw;
                left: unset;
                bottom: 0;
                top: unset;
                transform: none;
            }
        }
    }

    .waiting-wrapper {
        position: absolute;
        bottom: 10dvh;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > span {
            font-size: 28px;
            color: var(--glow-color);
            font-weight: 200;
            opacity: 0.8;
            margin-bottom: 8px;
        }
    }

    .time-left {
        position: relative;
        color: var(--glow-color);
        font-size: 32px;
        float: left;
        -webkit-text-shadow: 0 0 0.25em hsl(0 0% 100% / 0.3),
            0 0 0.8em var(--glow-color);
        -moz-text-shadow: 0 0 0.25em hsl(0 0% 100% / 0.3),
            0 0 0.8em var(--glow-color);
        text-shadow: 0 0 0.25em hsl(0 0% 100% / 0.3), 0 0 0.8em var(--glow-color);
        animation: text-flicker 3s linear infinite;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.9;
            filter: blur(48px);
            transform: translateY(120%) rotateX(95deg) scale(1, 1);
            background: var(--glow-color);
            pointer-events: none;
          }
          
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            z-index: -1;
            background-color: var(--glow-color);
            box-shadow: 0 0 2em 0.2em var(--glow-color);
            transition: opacity 100ms linear;
          }
          
    }
}

@keyframes text-flicker {
    0% {
      opacity: 0.1;
    }
  
    2% {
      opacity: 1;
    }
  
    8% {
      opacity: 0.1;
    }
  
    9% {
      opacity: 1;
    }
  
    12% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.3;
    }
    30% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.7;
    }
    72% {
      opacity: 0.2;
    }
  
    77% {
      opacity: 0.9;
    }
    100% {
      opacity: 0.9;
    }
}

  