.header {
    position: absolute;
    top: 16px;
    right: 16px;
    left: 16px;
    background: linear-gradient(37deg, #1C2226 20%, rgba(80,185,243,1) 100%);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 6px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;

    .left {
        width: 50%;

        .name {
            text-align: left;
            color: #ececec;
            margin-bottom: 6px;
            font-size: 12px;
            line-height: 16px;
            font-weight: 500;
        }

        .value {
            text-align: left;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: #ffffff;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
        }
    }

    .right {
        width: 50%;

        .name {
            text-align: right;
            color: #ececec;
            margin-bottom: 6px;
            font-size: 12px;
            line-height: 16px;
            font-weight: 500;
        }

        .value {
            height: 20px;
            display: flex;
            align-items: center;
            gap: 8px;
            justify-content: flex-start;
            flex-direction: row-reverse;

            span {
                font-weight: 600;
            }

            .coin {
                width: 20px;
            }
        }
    }
}