.player {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
    img {
        width: 30vw;
    }

    .address {
        max-width: 40vw;
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
        color: hsl(186 100% 69%);
    }
}